<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../font/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="../Css/style.css">
    <title> The Band</title>
</head>
<body >
        <header id="header">
            <ul id="nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BAND</a></li>
                <li><a href="#">TOUR</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">MORE
                    <span><i class="fa-solid fa-caret-down"></i></span>
                </a>
                    <ul class="subnav">
                        <li><a href="#">Merchandise</a></li>
                        <li><a href="#">Extras</a></li>
                        <li><a href="#">Media</a></li>
                    </ul>
                </li>
            </ul>
            <div class="btn-search">
                <i class=" search-icon fa-solid fa-magnifying-glass"></i>
            </div>

        </header>
        <div class="silder">
            <img src="../img/siler/siler1.jpg" alt="The Band">
            <div class="slider-content">
                <h3>Los Angeles</h3>
                <p>We had the best time playing at Venice Beach!</p>
            </div>
        </div>

        <section id="section">
            <div class="section-member">
                <div class="member-content">
                    <div class="text-top">
                        <h3>THE BAND</h3>
                        <p>We love music</p>
                    </div>
                        <p class="text-bottom">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="member-list">
                        <div class="member-item">
                            <h3>Name</h3>
                            <img src="../img/band/bandmember1.jpg" alt="">
                        </div>
                        <div class="member-item">
                            <h3>Name</h3>`
                            <img src="../img/band/bandmember1.jpg" alt="">
                        </div>                   
                         <div class="member-item">
                            <h3>Name</h3>
                            <img src="../img/band/bandmember1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-tour">
                <div class="tour-content">
                    <div class="tour-top">
                        <h3>TOUR DATES</h3>
                        <p>Remember to book your tickets!</p>
                    </div>
              </div>
              <div class="tour-list">
                <ul class="tour-item">
                    <li>
                        September 
                        <span class="tour-item-top">Sold out</span>
                    </li>
                    <li>
                        October 
                        <span class="tour-item-top">Sold out</span>
                    </li>
                    <li>
                        November 
                        <span class="tour-item-bottom">3</span>
                    </li>
                </ul>
              </div>
              <div class="tour-ticket">
                <div class="ticket-list">
                    <img src="../img/places/places.jpg" alt="">
                    <div>
                        <p>New York</p>
                        <p>Fri 27 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                        <button>Buy Tickets</button>
                    </div>
                </div>
                <div class="ticket-list">
                    <img src="../img/places/places.jpg" alt="">
                    <div>
                        <p>New York</p>
                        <p>Fri 27 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                        <button>Buy Tickets</button>
                    </div>
                </div>
                <div class="ticket-list">
                    <img src="../img/places/places.jpg" alt="">
                    <div>
                        <p>New York</p>
                        <p>Fri 27 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                        <button>Buy Tickets</button>
                    </div>
                </div>
              </div>
            </div>
            <div class="section-contact">
                <div class="tour-content">
                    <div class="tour-top">
                        <h3>CONTACT</h3>
                        <p>Fan? Drop a note !</p>
                    </div>
                    <div class="contact-item">
                        <div class="contact-addres">
                            <i class="fa-solid fa-location-dot">
                                Chicago, US
                            </i>
                            <br>
                            <i class="fa-solid fa-phone">
                                Phone: +00 151515
                            </i>
                            <br>
                            <i class="fa-solid fa-envelope">
                                Email: mail@mail.com
                            </i>
                        </div>
                        <div class="contact-form">
                            <div>
                                <input class="form-item" type="text" placeholder="Name" >
                                <input class="form-item" type="text" placeholder="Email" >
                            </div>
                            <div class="form-message">
                                <input type="text" placeholder="Message">
                                <br>
                                <button>Send</button>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
            <div class="section-map">
                <img class="map-item" src="../img/map/map.jpg" alt="">
            </div>
        </section>

        <footer id="footer">
            <div>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest-p"></i>
                <i class="fa-brands fa-twitter"></i>
                <p>
                    Powered by
                    <a href="#">W3.css</a>
                </p>
            </div>
    
        </footer>
</body>
</html>